.content-wrapper {
  max-width: $wrapper-mobile;
  margin: 0 auto;

  @media screen and (min-width: $screen-tablet) {
    max-width: $wrapper-tablet;
  }
  @media screen and (min-width: $screen-desktop) {
    max-width: $wrapper-desktop;
  }
}

.mb-1 {
  margin-bottom: 6rem;
  @media screen and(min-width: $screen-tablet) {
    margin-bottom: 7.5rem;
  }
  @media screen and (min-width: $screen-desktop) {
    margin-bottom: 10rem;
  }
}
