$font-md: 500;
$font-rg: 400;
$screen-desktop: 1200px;
$screen-tablet: 768px;
$wrapper-desktop: 1111px;
$wrapper-tablet: 690px;
$wrapper-mobile: 327px;

$color-peach: #e7816b;
$color-black: #1d1c1e;
$color-white: #ffffff;
$color-light-peach: #ffad9b;
$color-dark-grey: #333136;
$color-light-grey: #f1f3f5;
