html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  border-bottom: 0;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 1.625rem;
}

h1 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.25rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
}

h2 {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: 1.4px;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 2px;
  }
}

h3 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: 5px;
}

.text--link {
  font-size: 0.875rem;
  line-height: 0.875rem;
  letter-spacing: 2px;
  font-weight: 400;
}

.text--white {
  color: #ffffff;
}

.text-black {
  color: #333136;
}

.content-wrapper {
  max-width: 327px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .content-wrapper-mobilefull {
    max-width: 100%;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .content-wrapper {
    max-width: 690px;
  }
}
@media screen and (min-width: 1200px) {
  .content-wrapper {
    max-width: 1111px;
  }
}

.mb-1 {
  margin-bottom: 6rem;
}
@media screen and (min-width: 768px) {
  .mb-1 {
    margin-bottom: 7.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .mb-1 {
    margin-bottom: 10rem;
  }
}

@media screen and (max-width: 768px) {
  .no-scroll {
    overflow: hidden;
  }
}

.btn {
  border-radius: 0.5rem;
  padding: 1.125rem 1.5625rem 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  letter-spacing: 1px;
}
.btn--white {
  background-color: #ffffff;
  color: #333136;
}
.btn--white:hover {
  color: #f1f3f5;
  background-color: #ffad9b;
  cursor: pointer;
}
.btn--peach {
  background-color: #e7816b;
  color: #ffffff;
}
.btn--peach:hover {
  color: #f1f3f5;
  background-color: #ffad9b;
  cursor: pointer;
}

.card {
  text-align: center;
  background-color: #fdf3f0;
  border-radius: 0.9375rem;
  margin-bottom: 2.5rem;
  overflow: hidden;
}
.card:hover {
  background-color: #e7816b;
  color: white;
  cursor: pointer;
}
.card:hover h3 {
  color: white;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .card {
    display: flex;
  }
}
.card__image {
  width: 100%;
  height: 20rem;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .card__image {
    width: 50%;
  }
}
.card__header {
  color: #e7816b;
  margin-bottom: 1rem;
}
.card__text {
  margin: 2rem 1.875rem;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .card__text {
    margin: auto 1.875rem;
  }
}
@media screen and (min-width: 1200px) {
  .card__divider {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
  }
}
@media screen and (min-width: 1200px) {
  .card__container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7.5rem;
  }
  .card__container > div {
    flex: 0 0 31.5%;
  }
}

.footer {
  background-color: #1d1c1e;
  padding-top: 15.8125rem;
  padding-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 10.375rem;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 9rem;
  }
}
.footer__content-wrapper {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__content-wrapper {
    text-align: left;
  }
}
.footer__logo {
  padding-bottom: 2rem;
  line-height: 1;
  margin-bottom: 2rem;
  border-bottom: 1px solid #333136;
}
.footer__logo img {
  width: 12.625rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
.footer__links {
  display: flex;
  flex-direction: column;
}
.footer__links > a {
  color: white;
}
@media screen and (min-width: 768px) {
  .footer__links {
    flex-direction: row;
  }
}
.footer__links a:not(:last-child) {
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__links a:not(:last-child) {
    margin-bottom: 0;
    padding-right: 2.625rem;
  }
}
@media screen and (min-width: 768px) {
  .footer--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #333136;
  }
}
.footer__contact {
  margin-top: 2.5rem;
  height: 16.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    flex-direction: row;
    align-items: flex-end;
    margin-top: 4.4375rem;
    height: auto;
  }
}
.footer__icons {
  width: 11.5rem;
  display: flex;
  justify-content: space-between;
}
.footer__icons svg:hover {
  cursor: pointer;
}
.footer__icons svg:hover path {
  fill: #ffad9b;
}
@media screen and (min-width: 1200px) {
  .footer__us {
    margin-left: -8.75rem;
  }
}

.cta__card {
  overflow: hidden;
  margin-bottom: -11.875rem;
  background-color: #e7816b;
  border-radius: 0.9375rem;
  padding: 4rem 1.5rem;
  text-align: center;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .cta__card {
    margin-bottom: -5.375rem;
    padding: 3.5625rem;
  }
}
@media screen and (min-width: 1200px) {
  .cta__card {
    margin-bottom: -4.5rem;
    padding: 4.5rem 6rem;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.cta__card:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(./assets/shared/desktop/bg-pattern-call-to-action.svg);
  background-position: top -6.4375rem left -15rem;
  background-repeat: no-repeat;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .cta__card:after {
    background-position: top -10.875rem left -1.25rem;
  }
}
@media screen and (min-width: 1200px) {
  .cta__card:after {
    background-position: top -9.125rem right 0;
  }
}
.cta__header {
  margin-bottom: 1rem;
}
.cta__text {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .cta__text {
    padding: 0 5rem;
  }
}
@media screen and (min-width: 1200px) {
  .cta__text {
    padding: 0;
    width: 26.6875rem;
    margin-bottom: 0;
  }
}
.cta__btn {
  align-self: center;
}

@media screen and (min-width: 1200px) {
  .work {
    display: flex;
  }
  .work > div {
    flex-grow: 1;
    flex-basis: 0;
  }
}
.work__card {
  text-align: center;
  border-radius: 0.9375rem;
  padding: 5.625rem 0;
  overflow: hidden;
  position: relative;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .work__card {
    padding: 3.3125rem 0;
  }
}
@media screen and (min-width: 1200px) {
  .work__card {
    padding: 6.6875rem 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .work__card.mg-b-1 {
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .work__card.mg-l-1 {
    margin-left: 1.5rem;
  }
}
.work__card::after {
  content: "";
  position: absolute;
  background-color: #000000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.work__card:hover::after {
  background-color: #e7816b;
  opacity: 0.8;
}
.work__card--web {
  background-image: url("./assets/home/mobile/image-web-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .work__card--web {
    background-image: url("./assets/home/tablet/image-web-design.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .work__card--web {
    background-image: url("./assets/home/desktop/image-web-design.jpg");
  }
}
.work__card--app {
  background-image: url("./assets/home/mobile/image-app-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .work__card--app {
    background-image: url("./assets/home/tablet/image-app-design.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .work__card--app {
    background-image: url("./assets/home/desktop/image-app-design.jpg");
  }
}
.work__card--graphic {
  background-image: url("./assets/home/mobile/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .work__card--graphic {
    background-image: url("./assets/home/tablet/image-graphic-design.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .work__card--graphic {
    background-image: url("./assets/home/desktop/image-graphic-design.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .work__card--big {
    padding: 17.0625rem 0;
    margin-right: 1.875rem;
  }
}
.work__header {
  padding-bottom: 0.6875rem;
}
@media screen and (min-width: 768px) {
  .work__header {
    padding-bottom: 1.5rem;
  }
}
.work__view {
  font-size: 0.9375rem;
}
.work__text {
  position: relative;
  z-index: 2;
}
.work__link {
  color: #ffffff;
  letter-spacing: 5px;
  font-size: 0.9375rem;
}
.work__link svg {
  padding-left: 0.5rem;
}

.header {
  z-index: 30;
}
@media screen and (min-width: 768px) {
  .header {
    position: relative;
  }
}
.header__nav {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  position: relative;
  z-index: 30;
}
@media screen and (max-width: 767px) {
  .header__nav {
    padding: 2.1875rem 1.5rem;
    max-width: 100%;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .header__nav {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
.header__logo {
  display: inline-block;
  height: 1.6875rem;
}
.header__logo img {
  height: 1.6875rem;
}
@media screen and (min-width: 768px) {
  .header .hide-for-tablet {
    display: none;
  }
}
.header__toggle:hover {
  cursor: pointer;
}
.header__toggle > span {
  display: block;
  width: 24px;
  height: 4px;
  background-color: #1d1c1e;
  transition: all 300ms ease-in-out;
  transform-origin: 1px 2px;
}
.header__toggle > span:not(:last-child) {
  margin-bottom: 4px;
}
@media screen and (max-width: 768px) {
  .header.open .header__toggle > span:first-child {
    transform: rotate(45deg);
  }
  .header.open .header__toggle > span:nth-child(2) {
    opacity: 0;
  }
  .header.open .header__toggle > span:last-child {
    transform: rotate(-45deg);
  }
  .header.open .header__menu {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .header .hide-for-mobile {
    display: none;
  }
}
.header__links a {
  color: #1d1c1e;
  margin-left: 2.625rem;
}
.header__menu {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #1d1c1e;
  padding: 1.625rem;
  z-index: 100;
  display: none;
}
.header__menu a {
  display: block;
  margin: 2rem 0;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 400;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .open .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 6;
  }
}

@media screen and (max-width: 768px) {
  .sticky {
    position: fixed;
    left: 0;
    right: 0;
  }
}

.title {
  position: relative;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .title::after {
    content: "";
    position: absolute;
    height: 37.125rem;
    width: 62.875rem;
    background: url(./assets/shared/desktop/bg-pattern-leaf.svg);
    background-position: bottom 0 left 0;
    background-repeat: no-repeat;
    left: 0;
    bottom: -29.25rem;
    z-index: -1;
  }
}
.title__content-wrapper {
  background: #e7816b;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .title__content-wrapper {
    max-width: 100%;
    padding: 105px 24px;
  }
}
@media screen and (min-width: 768px) {
  .title__content-wrapper {
    border-radius: 0.9375rem;
    padding: 4rem 9.25rem;
  }
}
@media screen and (min-width: 1200px) {
  .title__content-wrapper {
    border-radius: 0.9375rem;
    padding: 4rem 21.875rem;
  }
}
.title__content-wrapper::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(./assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg);
  background-position: top 0 right 0;
  top: 0;
  right: 0;
}
@media screen and (min-width: 768px) {
  .title__content-wrapper::after {
    background: url(./assets/shared/tablet/bg-pattern-design-pages-intro-tablet.svg);
    background-position: top 50% left 0;
    right: 0;
    bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .title__content-wrapper::after {
    background-position: top 50% right 0;
    background-repeat: no-repeat;
  }
}
.title__text {
  position: relative;
  z-index: 5;
}
.title__text > h1 {
  margin-bottom: 1.5rem;
}

.countries {
  position: relative;
}
@media screen and (min-width: 1200px) {
  .countries::after {
    content: "";
    position: absolute;
    height: 37.125rem;
    width: 62.875rem;
    background: url(./assets/shared/desktop/bg-pattern-leaf.svg);
    background-position: bottom 0 left 0;
    background-repeat: no-repeat;
    right: 0;
    top: 11.375rem;
    z-index: -1;
  }
}
.countries--contact::after {
  top: 5.625rem;
}
.countries__content-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .countries__content-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
.countries__image {
  background-image: url(./assets/shared/desktop/bg-pattern-small-circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3rem;
}
.countries__card {
  margin-bottom: 3rem;
}
@media screen and (min-width: 1200px) {
  .countries__card {
    margin-bottom: 0;
    width: 350px;
  }
}
.countries__header {
  margin-bottom: 2rem;
}

.traits {
  position: relative;
}
@media screen and (min-width: 1200px) {
  .traits::after {
    content: "";
    position: absolute;
    height: 37.125rem;
    width: 62.875rem;
    background: url(./assets/shared/desktop/bg-pattern-leaf.svg);
    transform: rotate(180deg);
    background-position: bottom 0 left 0;
    background-repeat: no-repeat;
    background-size: 100% 37.125rem;
    right: 0;
    top: 7.75rem;
    z-index: -1;
  }
}
.traits__content-wrapper {
  text-align: center;
  margin-bottom: 7.5625rem;
}
@media screen and (min-width: 768px) {
  .traits__content-wrapper {
    margin-bottom: 4.1875rem;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .traits__content-wrapper {
    margin-bottom: 10rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
  }
}
.traits__circlebg {
  display: inline-block;
  background: url(./assets/home/desktop/bg-pattern-hero-home.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .traits__circlebg {
    margin-bottom: 0;
    margin-right: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  .traits__circlebg {
    margin-bottom: 3rem;
    margin-right: 0;
  }
}
.traits__card {
  margin-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  .traits__card {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .traits__card {
    flex-direction: column;
  }
}
.traits__header {
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .traits__header {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .traits__header {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .traits__text {
    max-width: 21.5rem;
  }
}

.hero {
  position: relative;
}
@media screen and (min-width: 1200px) {
  .hero::after {
    content: "";
    position: absolute;
    height: 37.125rem;
    width: 62.875rem;
    background: url(./assets/shared/desktop/bg-pattern-leaf.svg);
    background-position: bottom 0 left 0;
    background-repeat: no-repeat;
    left: 0;
    bottom: -17.125rem;
    z-index: -1;
  }
}
.hero__content-wrapper {
  background-color: #e7816b;
  min-height: 52.6875rem;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 767px) {
  .hero__content-wrapper {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
  }
}
@media screen and (min-width: 768px) {
  .hero__content-wrapper {
    border-radius: 0.9375rem;
  }
}
@media screen and (min-width: 1200px) {
  .hero__content-wrapper {
    min-height: 40rem;
  }
}
.hero__content-wrapper::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(./assets/home/desktop/bg-pattern-hero-home.svg);
  background-repeat: no-repeat;
  left: 0;
  bottom: 0;
  background-position: top 50% left 0;
}
@media screen and (min-width: 768px) {
  .hero__content-wrapper::after {
    background-position: top 50% right 0;
    right: -7.59375rem;
    left: auto;
    bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero__content-wrapper::after {
    background-position: top 0 right 0;
    bottom: 0;
  }
}
.hero__text {
  position: relative;
  z-index: 5;
  padding: 5rem 1.5rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero__text {
    padding: 3.75rem 3.625rem;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text {
    text-align: left;
    max-width: 35.75rem;
    padding: 9.0625rem 0 9.0625rem 5.625rem;
  }
}
.hero__text > h1 {
  padding-bottom: 1.5rem;
}
.hero__text > p {
  font-size: 0.9375rem;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .hero__text > p {
    padding: 0 5.625rem;
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text > p {
    padding: 0;
    padding-top: 0.6875rem;
    padding-bottom: 2.5rem;
    padding-right: 0.5rem;
  }
}
.hero__image {
  z-index: 3;
  position: absolute;
  left: 50%;
  bottom: 6.34375rem;
  transform: translate(-50%, 50%);
}
@media screen and (min-width: 1200px) {
  .hero__image {
    right: 0;
    bottom: -15.125rem;
    transform: translate(0, 0);
  }
}

.locations__card {
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .locations__card {
    margin-bottom: 7.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .locations__card {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
  }
}
.locations__text {
  background-color: #fdf3f0;
  text-align: center;
  padding: 5rem 0;
  background-image: url(./assets/shared/desktop/bg-pattern-three-circles.svg);
  background-position: top 0 left 0;
  background-repeat: no-repeat;
}
.locations__text > h1 {
  color: #e7816b;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .locations__text {
    background-image: url(./assets/shared/desktop/bg-pattern-two-circles.svg);
    background-position: bottom 0 left 0;
    text-align: left;
    padding: 5.5rem 10.0625rem 5.5rem 4.6875rem;
    border-radius: 0.9375rem;
  }
}
@media screen and (min-width: 1200px) {
  .locations__text {
    background-image: url(./assets/shared/desktop/bg-pattern-three-circles.svg);
    width: 65.7%;
    padding-right: 11.5625rem;
  }
}
@media screen and (max-width: 768px) {
  .locations__location {
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .locations__contact {
    display: flex;
    justify-content: space-between;
  }
}
.locations__map {
  width: 100%;
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .locations__map {
    border-radius: 0.9375rem;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .locations__map {
    border-radius: 0.9375rem;
    margin: 0;
    width: 31.5%;
  }
}
@media screen and (min-width: 1200px) {
  .locations__map--right {
    order: 2;
  }
}
.locations__map--canada {
  background-image: url(./assets/locations/tablet/image-map-canada.png);
}
@media screen and (max-width: 767px), screen and (min-width: 1200px) {
  .locations__map--canada {
    background-image: url(./assets/locations/desktop/image-map-canada.png);
  }
}
.locations__map--australia {
  background-image: url(./assets/locations/tablet/image-map-australia.png);
}
@media screen and (max-width: 767px), screen and (min-width: 1200px) {
  .locations__map--australia {
    background-image: url(./assets/locations/desktop/image-map-australia.png);
  }
}
.locations__map--uk {
  background-image: url(./assets/locations/tablet/image-map-uk.png);
}
@media screen and (max-width: 767px), screen and (min-width: 1200px) {
  .locations__map--uk {
    background-image: url(./assets/locations/desktop/image-map-united-kingdom.png);
  }
}

.about::after {
  content: "";
  position: absolute;
  height: 37.125rem;
  width: 62.875rem;
  background: url(./assets/shared/desktop/bg-pattern-leaf.svg);
  background-position: bottom 0 left 0;
  background-repeat: no-repeat;
  left: 0;
  top: 29.6875rem;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .about {
    border-radius: 0.9375rem;
    overflow: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .about--hero {
    margin-bottom: 7.5rem;
  }
}
.about__image {
  width: 100%;
  height: 20rem;
}
@media (min-width: 1200px) {
  .about__image {
    height: auto;
    flex: 1 1 0px;
  }
}
.about__image--hero {
  background-image: url("./assets/about/mobile/image-about-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .about__image--hero {
    background-image: url("./assets/about/tablet/image-about-hero.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .about__image--hero {
    background-image: url("./assets/about/desktop/image-about-hero.jpg");
  }
}
@media (min-width: 1200px) {
  .about__image--hero {
    order: 2;
  }
}
.about__image--deal {
  background-image: url("./assets/about/mobile/image-real-deal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .about__image--deal {
    background-image: url("./assets/about/tablet/image-real-deal.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .about__image--deal {
    background-image: url("./assets/about/desktop/image-real-deal.jpg");
  }
}
@media (min-width: 1200px) {
  .about__image--deal {
    order: 2;
  }
}
.about__image--talent {
  background-image: url("./assets/about/mobile/image-world-class-talent.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .about__image--talent {
    background-image: url("./assets/about/tablet/image-world-class-talent.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .about__image--talent {
    background-image: url("./assets/about/desktop/image-world-class-talent.jpg");
  }
}
.about__text {
  padding: 4.25rem 1.5rem;
}
@media screen and (min-width: 768px) {
  .about__text {
    padding: 4.25rem 3.625rem;
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    text-align: left;
    flex: 1 1 0px;
  }
}
.about__text--hero {
  background-color: #e7816b;
  color: #ffffff;
  background-image: url(./assets/about/mobile/bg-pattern-hero-about-mobile.svg);
  background-position: top -8.75rem right 0;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .about__text--hero {
    background-image: url(./assets/about/desktop/bg-pattern-hero-about-desktop.svg);
    background-position: bottom 6.3125rem right 10.625rem;
  }
}
@media screen and (min-width: 1200px) {
  .about__text--hero {
    background-position: bottom 0 right 0;
    padding: 135px 5.9375rem;
  }
}
.about__text--details {
  background-color: #fdf3f0;
  background-image: url(./assets/shared/desktop/bg-pattern-three-circles.svg);
  background-position: top 0 left 0;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .about__text--details {
    background-image: url(./assets/shared/desktop/bg-pattern-three-circles.svg);
    background-position: bottom 2.75rem left 5.875rem;
  }
}
@media screen and (min-width: 1200px) {
  .about__text--details-right {
    background-image: url(./assets/shared/desktop/bg-pattern-two-circles.svg);
    background-position: bottom 0 left 0 !important;
  }
}
@media screen and (min-width: 1200px) {
  .about__text--details {
    background-position: bottom 0 left -9.125rem;
    padding: 9.625rem 7rem;
  }
}
.about__text--details > h1 {
  color: #e7816b;
}
.about__text > h1 {
  margin-bottom: 2rem;
}

.contact__content-wrapper {
  background-color: #e7816b;
  padding: 4.5rem 1.5rem;
  background-image: url(./assets/contact/mobile/bg-pattern-hero-contact-mobile.svg);
  background-repeat: no-repeat;
  background-position: top 0 left -5.75rem;
}
@media screen and (min-width: 768px) {
  .contact__content-wrapper {
    border-radius: 0.9375rem;
    padding: 4.4375rem 3.625rem;
    background-position: top -7.1875rem left -7.5625rem;
  }
}
@media screen and (min-width: 1200px) {
  .contact__content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 3.4375rem 5.9375rem;
    background-position: bottom 0 left 0;
  }
}
.contact__text {
  margin-bottom: 3rem;
  color: #ffffff;
  text-align: center;
}
.contact__text > h1 {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .contact__text {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .contact__text {
    margin-top: 4rem;
    flex: 0 0 49%;
  }
}
.contact__form {
  display: flex;
  flex-direction: column;
  flex: 0 0 41.5%;
}
.contact__form__input {
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 11px;
  padding-left: 0.86rem;
  outline: none;
  margin-bottom: 1.5625rem;
}
.contact__form__input::placeholder {
  color: #f1f3f5;
  font-family: inherit;
  opacity: 0.5;
}
.contact__form__input:focus {
  border-bottom: 3px solid #ffffff;
}
.contact__form__button {
  border: none;
  font-family: inherit;
  width: 9.5rem;
  align-self: center;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .contact__form__button {
    margin: 0;
    align-self: flex-end;
  }
}

/*# sourceMappingURL=style.css.map */
