.hero {
  position: relative;
  @media screen and (min-width: $screen-desktop) {
    &::after {
      content: '';
      position: absolute;
      height: 37.125rem;
      width: 62.875rem;
      background: url(./assets/shared/desktop/bg-pattern-leaf.svg);

      background-position: bottom 0 left 0;
      background-repeat: no-repeat;

      left: 0;
      bottom: -17.125rem;
      z-index: -1;
    }
  }
  &__content-wrapper {
    background-color: $color-peach;
    min-height: 52.6875rem;
    overflow: hidden;
    position: relative;
    @media screen and (max-width: 767px) {
      width: 100%;
      max-width: 100%;
      border-radius: 0;
    }
    @media screen and(min-width:$screen-tablet) {
      border-radius: 0.9375rem;
    }
    @media screen and(min-width:$screen-desktop) {
      min-height: 40rem;
    }
    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: url(./assets/home/desktop/bg-pattern-hero-home.svg);

      background-repeat: no-repeat;
      left: 0;
      bottom: 0;
      background-position: top 50% left 0;
      @media screen and(min-width: $screen-tablet) {
        background-position: top 50% right 0;
        right: -7.59375rem;
        left: auto;
        bottom: 0;
      }
      @media screen and(min-width:$screen-desktop) {
        background-position: top 0 right 0;
        bottom: 0;
      }
    }
  }
  &__text {
    position: relative;
    z-index: 5;
    padding: 5rem 1.5rem;
    text-align: center;
    @media screen and (min-width: $screen-tablet) {
      padding: 3.75rem 3.625rem;
    }
    @media screen and (min-width: $screen-desktop) {
      text-align: left;
      max-width: 35.75rem;
      padding: 9.0625rem 0 9.0625rem 5.625rem;
    }

    & > h1 {
      padding-bottom: 1.5rem;
    }
    & > p {
      font-size: 0.9375rem;
      padding-bottom: 1.5rem;
      @media screen and (min-width: $screen-tablet) {
        padding: 0 5.625rem;
        padding-bottom: 1.5rem;
      }
      @media screen and (min-width: $screen-desktop) {
        padding: 0;
        padding-top: 0.6875rem;
        padding-bottom: 2.5rem;
        padding-right: 0.5rem;
      }
    }
  }
  &__image {
    z-index: 3;
    position: absolute;
    left: 50%;
    bottom: 6.34375rem;
    transform: translate(-50%, 50%);
    @media screen and (min-width: $screen-desktop) {
      right: 0;
      bottom: -15.125rem;
      transform: translate(0, 0);
    }
  }
}
