.about {
  &::after {
    content: '';
    position: absolute;
    height: 37.125rem;
    width: 62.875rem;
    background: url(./assets/shared/desktop/bg-pattern-leaf.svg);

    background-position: bottom 0 left 0;
    background-repeat: no-repeat;

    left: 0;
    top: 29.6875rem;
    z-index: -1;
  }
  @media screen and (min-width: $screen-tablet) {
    border-radius: 0.9375rem;
    overflow: hidden;
  }
  @media screen and (min-width: $screen-desktop) {
    display: flex;
  }
  &--hero {
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 7.5rem;
    }
  }
  &__image {
    width: 100%;
    height: 20rem;
    @media (min-width: $screen-desktop) {
      height: auto;
      flex: 1 1 0px;
    }
    &--hero {
      @include Images(about, image-about-hero);
      @media (min-width: $screen-desktop) {
        order: 2;
      }
    }
    &--deal {
      @include Images(about, image-real-deal);
      @media (min-width: $screen-desktop) {
        order: 2;
      }
    }
    &--talent {
      @include Images(about, image-world-class-talent);
    }
  }

  &__text {
    padding: 4.25rem 1.5rem;

    @media screen and (min-width: $screen-tablet) {
      padding: 4.25rem 3.625rem;
    }
    @media screen and (min-width: $screen-desktop) {
      text-align: left;

      flex: 1 1 0px;
    }
    &--hero {
      background-color: $color-peach;
      color: $color-white;
      background-image: url(./assets/about/mobile/bg-pattern-hero-about-mobile.svg);
      background-position: top -8.75rem right 0;
      background-repeat: no-repeat;
      @media screen and (min-width: $screen-tablet) {
        background-image: url(./assets/about/desktop/bg-pattern-hero-about-desktop.svg);
        background-position: bottom 6.3125rem right 10.625rem;
      }
      @media screen and (min-width: $screen-desktop) {
        background-position: bottom 0 right 0;
        padding: 135px 5.9375rem;
      }
    }
    &--details {
      background-color: #fdf3f0;
      background-image: url(./assets/shared/desktop/bg-pattern-three-circles.svg);
      background-position: top 0 left 0;
      background-repeat: no-repeat;
      @media screen and (min-width: $screen-tablet) {
        background-image: url(./assets/shared/desktop/bg-pattern-three-circles.svg);
        background-position: bottom 2.75rem left 5.875rem;
      }
      &-right {
        @media screen and (min-width: $screen-desktop) {
          background-image: url(./assets/shared/desktop/bg-pattern-two-circles.svg);
          background-position: bottom 0 left 0 !important;
        }
      }
      @media screen and (min-width: $screen-desktop) {
        background-position: bottom 0 left -9.125rem;
        padding: 9.625rem 7rem;
      }
      & > h1 {
        color: $color-peach;
      }
    }

    & > h1 {
      margin-bottom: 2rem;
    }
  }
}
