.countries {
  position: relative;
  @media screen and(min-width: $screen-desktop) {
    &::after {
      content: '';
      position: absolute;
      height: 37.125rem;
      width: 62.875rem;
      background: url(./assets/shared/desktop/bg-pattern-leaf.svg);

      background-position: bottom 0 left 0;
      background-repeat: no-repeat;
      right: 0;
      top: 11.375rem;
      z-index: -1;
    }
  }
  &--contact {
    &::after {
      top: 5.625rem;
    }
  }
  &__content-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @media screen and (min-width: $screen-desktop) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__image {
    background-image: url(./assets/shared/desktop/bg-pattern-small-circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 3rem;
  }
  &__card {
    margin-bottom: 3rem;

    @media screen and (min-width: $screen-desktop) {
      margin-bottom: 0;
      width: 350px;
    }
  }
  &__header {
    margin-bottom: 2rem;
  }
}
