.countries {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $screen-desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
  &__image {
    background-image: url(./assets/shared/desktop/bg-pattern-small-circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 3rem;
  }
  &__card {
    margin-bottom: 3rem;
    width: 350px;

    @media screen and (min-width: $screen-desktop) {
      margin-bottom: 0;
    }
  }
  &__header {
    margin-bottom: 2rem;
  }
}
