.cta {
  &__card {
    overflow: hidden;
    margin-bottom: -11.875rem;
    background-color: $color-peach;
    border-radius: 0.9375rem;
    padding: 4rem 1.5rem;
    text-align: center;
    position: relative;
    z-index: 2;

    @media screen and(min-width:$screen-tablet) {
      margin-bottom: -5.375rem;
      padding: 3.5625rem;
    }
    @media screen and(min-width:$screen-desktop) {
      margin-bottom: -4.5rem;
      padding: 4.5rem 6rem;
      text-align: left;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: url(./assets/shared/desktop/bg-pattern-call-to-action.svg);
      background-position: top -6.4375rem left -15rem;
      background-repeat: no-repeat;
      right: 0;
      bottom: 0;
      z-index: -1;
      @media screen and(min-width:$screen-tablet) {
        background-position: top -10.875rem left -1.25rem;
      }
      @media screen and(min-width:$screen-desktop) {
        background-position: top -9.125rem right 0;
      }
    }
  }
  &__header {
    margin-bottom: 1rem;
  }
  &__text {
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    margin-bottom: 2rem;
    @media screen and(min-width:$screen-tablet) {
      padding: 0 5rem;
    }
    @media screen and(min-width:$screen-desktop) {
      padding: 0;
      width: 26.6875rem;
      margin-bottom: 0;
    }
  }
  &__btn {
    align-self: center;
  }
}
