.header {
  z-index: 30;
  @media screen and (min-width: $screen-tablet) {
    position: relative;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    background-color: $color-white;
    position: relative;
    z-index: 30;
    @media screen and (max-width: $screen-tablet) {
      padding: 2.1875rem 1.5rem;
      max-width: 100%;
      margin: 0;
    }
    @media screen and (min-width: $screen-tablet) {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }

  &__logo {
    display: inline-block;
    height: 1.6875rem;
    img {
      height: 1.6875rem;
    }
  }
  & .hide-for-tablet {
    @media screen and (min-width: $screen-tablet) {
      display: none;
    }
  }
  &__toggle {
    &:hover {
      cursor: pointer;
    }
    > span {
      display: block;
      width: 24px;
      height: 4px;
      background-color: $color-black;
      transition: all 300ms ease-in-out;
      transform-origin: 1px 2px;

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }

  &.open {
    @media screen and(max-width:$screen-tablet) {
      //@media in case of resize
      .header__toggle {
        > span:first-child {
          transform: rotate(45deg);
        }

        > span:nth-child(2) {
          opacity: 0;
        }

        > span:last-child {
          transform: rotate(-45deg);
        }
      }
      .header__menu {
        display: block;
      }
    }
  }

  & .hide-for-mobile {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &__links {
    & a {
      margin-left: 2.625rem;
    }
  }

  &__menu {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: $color-black;
    padding: 1.625rem;
    z-index: 100;
    display: none;
    a {
      display: block;
      margin: 2rem 0;
      font-size: 1.5rem;
      letter-spacing: 2px;
      font-weight: $font-rg;
      color: $color-white;
    }
  }
}
.open .overlay {
  @media screen and (max-width: $screen-tablet) {
    //@media in case of resize
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 6;
  }
}
.sticky {
  @media screen and (max-width: $screen-tablet) {
    position: fixed;
    left: 0;
    right: 0;
  }
}
