.title {
  text-align: center;
  &__content-wrapper {
    background: $color-peach;
    overflow: hidden;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 767px) {
      max-width: 100%;
      padding: 105px 24px;
    }
    @media screen and (min-width: $screen-tablet) {
      border-radius: 0.9375rem;
      padding: 4rem 9.25rem;
    }
    @media screen and (min-width: $screen-desktop) {
      border-radius: 0.9375rem;
      padding: 4rem 21.875rem;
    }

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: url(./assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg);
      background-position: top 0 right 0;
      top: 0;
      right: 0;

      @media screen and(min-width: $screen-tablet) {
        background: url(./assets/shared/tablet/bg-pattern-design-pages-intro-tablet.svg);
        background-position: top 50% left 0;
        right: 0;
        bottom: 0;
      }
      @media screen and(min-width:$screen-desktop) {
        background-position: top 50% right 0;
        background-repeat: no-repeat;
      }
    }
  }
  &__text {
    position: relative;
    z-index: 5;
    & > h1 {
      margin-bottom: 1.5rem;
    }
  }
}
